body{
    background-color: rgb(199, 196, 191);
}

#header-container{
    background-color: turquoise;
}

.submit{
    border-radius: 8px;
    background-color: tomato;
}

.char-card{
    background-color: yellow;
    width: 25%;
    text-align: center;
    box-shadow: 5px 5px lime;
    border-radius: 5px;
    visibility: visible;
}

.location{
    visibility: hidden;
}

#char-container{
    width: 100%;
}

.commentForm{
    border-radius: 8px;
}